/* Colors */

/* Primary */

$Cyan: hsl(179, 62%, 43%);
$Bright-Yellow: hsl(71, 73%, 54%);

/* Neutral */

$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);
$White: #fff;

@font-face {
  font-family: Karla;
  src: url(../font/Karla.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Karla;
}

body{
  background-color: $Light-Gray;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent-card{
  display: grid;
  grid-template-columns: 6, 1fr;
  max-width: 550px;
  border-radius: 10px;
  overflow: hidden;

  .card-1{
    background-color: white;
    grid-column: 1 / 6;
    padding: 2em;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    h2{
      color: $Cyan;
      font-size: 25px;
    }

    h3{
      color: $Bright-Yellow;
      font-size: 18px;
      margin-top: 0.9em;
      margin-bottom: 0.6em;
    }

    p{
      color: $Grayish-Blue;
      font-size: 14px;
      margin-bottom: 0.1em;
    }
  }

  .card-2{
    background-color: $Cyan;
    padding: 2em;
    border-bottom-left-radius: 6px;
    grid-column: 1 / 4;

    h3{
      color: $Light-Gray;
      font-size: 18px;
    }

    .big-bold-text{
      display: inline-block;
      color: $Light-Gray;
      font-size: 1.6em;
      font-weight: 700;
      margin-top: 0.5em;
    }

    .per-month{
      display: inline-block;
      color: $Light-Gray;
      font-size: 13px;
      opacity: 0.6;
      transform: translate(8%, -25%);
    }
    
    p{
      color: $Light-Gray;
      font-size: 13px;
      font-weight: 300;
      margin-top: 0.3em;
      margin-bottom: 1.6em;
    }
    
    button{
      display: block;
      padding: 0.8em;
      font-size: 13px;
      width: 100%;
      border-radius: 5px;
      border: none;
      background-color: $Bright-Yellow;
      color: white;
      font-weight: 700;
      box-shadow: (0px 3px 12px rgb(97, 96, 96));
      cursor: pointer;
    }
  }

  .card-3{
    background-color: #4ABEBD;
    padding: 2em;
    grid-column: 4 / 6;
    border-bottom-right-radius: 6px;

    h3{
      color: $Light-Gray;
      font-size: 18px;
    }

    pre{
        color: white;
        opacity: 0.7;
        font-size: 12px;
        line-height: 1.3em;
        margin-top: 1em;
    }

  }
}

@media (max-width: 768px){
  .parent-card{
    padding: 2rem;
    .card-1, .card-2, .card-3{
      grid-template-columns: 1fr;
    }
  }
}

